@model IEnumerable<IOrange.ViewModels.ItemViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="~/css/HomePage.css"></link>
</head>
<body>
    
    <table id="table1">
        <tr>
            <td id="itemsS">[items]</td>
            <td id="deleteS">[delete last item]</td>
            <td id="submitTd">[Submit button]</td>
        </tr>
    </table>
    <table id="table2">
        
        <tr>
            <th>@DateTime.Now</th>
            <th>[User]</th>
            
        </tr>
        @{
            int rows = 0;
        }
        @foreach (var item in Model)
        {
            if (rows % 12 == 0)
            {
                <tr>
                    <td>@item.Name @item.Price Ft</td>
                </tr>
            }
            else
            {
                <td>@item.Name @item.Price Ft</td>
            }
            rows++;
        }
        
    </table>
</body>
</html>